@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
.testimonials {
    /* min-height: 100vh; */
    font-size: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.line {
    margin: auto;
    width: 100px;
    height: 5px;
    background-color: #a8db64;
    margin-bottom: 20px;
    margin-top: 10px;
}

.testimonials>h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
}

.hidden {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.testimonials>main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.testimonial {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 450px;
    grid-gap: 20px;
    position: relative;
    z-index: 5;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 3rem 1rem;
    padding: 0 30px;
}

.testimonial .comment {
    font-weight: 300;
    margin-top: 50px;
}

.testimonial .user {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.testimonial .user__name {
    color: #202046;
    font-weight: 800;
    margin-right: 10px;
}

.testimonial .user__role {
    color: #babacf;
}

.image {
    position: relative;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    align-items: center;
}

.buttons button {
    background: none;
    background-color: white;
    border: none;
    padding: 1.25rem;
    -webkit-box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
    position: absolute;
}

.buttons button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.buttons .prev {
    padding-right: 1.5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    transform: translateX(-100%);
}

.buttons .next {
    padding-left: 1.5rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    left: 100%;
}

.pattern {
    position: absolute;
}

@media screen and (max-width: 1300px) {
    .testimonials {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1150px) {
    .buttons {
        width: unset;
        position: relative;
        justify-content: center;
    }
    .buttons button {
        top: 0;
        left: 0 !important;
        right: 0 !important;
        transform: translate(0, 0) !important;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .comment {
        margin-top: 125px !important;
    }
}